html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* evita scrolls de todo el body */
}

.fondo {
    position: relative;
    width: 100vw;
    height: 100vh; /* ocupar toda la ventana */
    background-image: url('../images/fondo_portada.jpg');
    background-size: cover;
    background-position: center;
    display: flex; /* para centrar contenido con flex */
    justify-content: center;
    align-items: center;
}

#map {
    height: 90vh;
}