.fondo {
    background-image: url('../images/fondo_portada.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    /*opacity: 0.5;*/
}

html, body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box nav {
    flex: 0 1 auto;
}

.box #map {
    flex: 1 1 auto;
}
